{% extends '@app/src/views/_layouts/cp.twig' %}

{% set fullPageForm = true %}

{% import '@app/src/views/_includes/activeForms.twig' as forms %}
{% import '@app/src/views/_includes/forms.twig' as zzforms %}

{% block actionButton %}
    <button type="submit">{{ t('app', 'Save') }}</button>
{% endblock %}

{% block content %}
    {{ forms.textField(model, 'name') }}

    {% if not model.isNewRecord %}
    {{ forms.checkboxGroupField(model, 'field_ids', {
        items: app.record.field().all(),
        itemValueKey: 'id',
        itemLabelKey: 'name',
    }) }}
    {% endif %}
{% endblock %}