{% extends '@app/src/views/_layouts/cp.twig' %}

{% set fullPageForm = true %}

{% import '@app/src/views/_includes/activeForms.twig' as forms %}

{% block actionButton %}
    <button type="submit">{{ t('app', 'Save') }}</button>
{% endblock %}

{% block content %}
    {{ forms.textField(model, 'name') }}
    {{ forms.textField(model, 'handle') }}
    {{ forms.selectField(model, 'config_class', {items: model.getFieldTypes()}) }}
{% endblock %}